.table-title-button {
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-wrap:wrap;
    font-size:1.3em;
}
.propSheetLabel {
    vertical-align:top;
}
.editorHover:hover {
    background-color: #186bae;
    color: #ffffff;
}
.editorHover {
    border:none;
    display:block;
}
.ui-datatable-header {
    height: 59px;
}
body .ui-datatable thead th {
    padding: 3px 3px 3px 12px;
}
.siteheading {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: -3px;
    word-spacing: -8px;
    color: #D03F68;
    text-shadow: -1px -1px 0 #BBB, 1px -1px 0 #BBB, -1px 1px 0 #BBB, 1px 1px 0 #BBB;
    font-weight: 700;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}
.small-p P {
    margin:0px;
}
